.column {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.columnItem {
  padding: 1em;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 1.3em;
}
.text {
  padding-left: 1em;
  font-size: 1.2em;
}
