.body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.images {
  max-width: 16em;
  padding: 1em;
}

@media (max-width: 600px) {
  .images {
    max-width: 9em;
    padding: 0.7em;
  }
}
.subTitle {
  font-size: x-large !important;
}
