
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.images {
  max-width: 16em;
  padding: 1em;
  transition: all .2s ease-in-out;
}
.big {
  max-width: 21em;
}

.images:hover {
  transform: scale(1.1);
}

.imagesSponsors {
  max-width: 10em;
  padding: 1em;
  transition: all .2s ease-in-out;
}
.imagesSponsors:hover {
  transform: scale(1.1);
}

.subTitle {
  margin-top: 2em;
  margin-bottom: 1em !important;
}

.imageLinks {
  border-bottom: none;
}
@media (max-width: 600px) {
  .images {
    max-width: 9em;
    padding: 0.7em;
  }
  .big {
    max-width: 12em;
  }
  .imagesSponsors {
    max-width: 7em;
    padding: 0.7em;
  }
}
.subTitle {
  font-size: x-large !important;
}
