
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.images {
  max-width: 16em;
  padding: 1em;
}

.imagesSponsors {
  max-width: 10em;
  padding: 1em;
  transform: scale(1);
}
.imagesSponsors:hover {
  transform: scale(1.1);
}


@media (max-width: 600px) {
  .images {
    max-width: 9em;
    padding: 0.7em;
  }
  .imagesSponsors {
    max-width: 7em;
    padding: 0.7em;
  }
}
.subTitle {
  font-size: x-large !important;
}
